@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-primary: #4b86de;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --color-insight-1: rgb(99, 209, 35);
  --color-insight-2: rgb(99, 209, 35);
  --color-insight-3: rgb(204, 52, 67);
  --color-insight-4: rgb(56, 183, 238);

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);

  /* Plotly Chart Color */
  --chart-background: #fff;
  --chart-font-color: #444;
  --chart-axis-color: #444;
}
/* Dark Theme Variables */
.dark-theme-variables {
  --color-background: #090d3e;
  --color-white: #0b0f4a;
  --color-primary: #fff;
  --color-dark: #edeffd;
  --color-dark-variant: #fff;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);

  --chart-background: #0d1256;
  --chart-font-color: #fff;
  --chart-axis-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, san-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark-variant);
}
.container {
  display: grid;
  width: 98%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 21rem auto 30rem;
}
a {
  color: var(--color-dark);
}
img {
  display: block;
  width: 100%;
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
small {
  font-size: 0.75rem;
}
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.text-muted {
  color: var(--color-info-light);
}
p {
  color: var(--color-dark-variant);
}
b {
  color: var(--color-dark-variant);
}
.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}

/***** Sidebar Image*****/
aside {
  height: 100vh;
}
aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
aside .logo {
  display: flex;
}
aside .logo img {
  width: 15rem;
  height: 15re;
}
aside .close {
  display: none;
}
/***** Sidebar Links*****/
aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}
aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

/* aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
} */

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}
aside .sidebar a.active:before {
  content: '';
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}
aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 6px);
}
aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

/************* main ******************/
main {
  margin-top: 1.4rem;
}

main .insights {
  display: inline-flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}
main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insights > div:hover {
  box-shadow: none;
}

main .insights > div span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .insights > div.pintu1 span {
  background: var(--color-insight-1);
}

main .insights > div.pintu2 span {
  background: var(--color-insight-2);
}

main .insights > div.pressure span {
  background: var(--color-insight-3);
}
main .insights > div.altitude span {
  background: var(--color-insight-4);
}

main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

/************* End of Insights ******************/
main .histories {
  margin-top: 2rem;
}

main .history-charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  background: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
}

main .history-charts-pintu1 {
  display: inline-block;
  gap: 2.5rem;
  background: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
}

main .history-charts-pintu2 {
  gap: 2.5rem;
  background: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
}

main .history-charts:hover {
  box-shadow: none;
}

main .history-charts .history-divs {
  text-align: center;
}

main .histories h2 {
  margin-bottom: 0.8rem;
}

/* Table Styles */
.data-table {
  margin-top: 2rem;
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: 1rem;
  border: 1px solid var(--color-info-light);
}

.data-table th {
  background: var(--color-primary);
  color: var(--color-white);
}

.data-table td {
  background: var(--color-background);
}

.data-table .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.data-table .pagination button {
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
  transition: background 300ms ease;
}

.data-table .pagination button:hover {
  background: var(--color-primary-variant);
}

.data-table .pagination #pageDisplay {
  font-weight: bold;
  margin: 0 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.card {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.card:hover {
  box-shadow: none;
}

/* Control styles for responsiveness */
.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Increase the gap between control buttons */
}

.control-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius-1);
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 1rem;
  cursor: pointer;
  transition: background 300ms ease;
  width: 100%; /* Ensure buttons take full width within the card */
  text-align: center; /* Center the button text */
}

.control-btn:hover {
  background: var(--color-primary-variant);
}

.control-btn:active {
  background: var(--color-primary);
}

/* My Set Point */
.controls-container-setpoint {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}

.card.controls-setpoint {
  width: 100%;
  max-width: 1350px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.control-btn-setpoint {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.control-btn-setpoint:hover {
  background-color: #0056b3;
}

.control-btn-add-status {
  width: 31.5%;
  padding: 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.control-btn-add-status:hover {
  background-color: #218838;
}

.control-btn-setpoint-update {
  width: 100%;
  padding: 15px;
  background-color: #ff9100;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.control-btn-setpoint-update:hover {
  background-color: #f8a744;
}
.control-btn-setpoint-delete {
  width: 100%;
  padding: 15px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.control-btn-setpoint-delete:hover {
  background-color: #ff5e5e;
}

.control-btn-delete-status {
  width: 31.5%;
  padding: 15px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 45px;
}

.control-btn-delete-status:hover {
  background-color: #ff5e5e;
}

.control-btn-delete-execution,
.control-btn-add-execution {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px; /* Mengubah menjadi rounded rectangle */
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.control-btn-delete-execution:hover,
.control-btn-add-execution:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.row {
  display: flex;
  align-items: center;
}

.row.button-collapse-submit {
  margin-top: 10px;
}

.col {
  flex: 1;
  padding-right: 10px; /* Menambahkan padding kanan untuk jarak antar kolom */
}

.col + .col {
  padding-left: 10px; /* Menambahkan padding kiri untuk kolom kedua */
}

.col + .col + .col {
  padding-left: 10px; /* Menambahkan padding kiri untuk kolom kedua */
}

.col.text-center {
  flex: 0 0 auto;
  padding: 0 10px;
}

.execution-parameters {
  display: flex;
  flex-direction: column;
}

.execution-parameter {
  flex: 1;
  margin-bottom: 10px; /* Menambahkan jarak di atas tombol */
}

.execution-buttons {
  display: flex;
  margin-bottom: 10px; /* Menambahkan jarak di bawah dropdown */
  margin-top: 10px; /* Menambahkan jarak di bawah dropdown */
  justify-content: flex-start; /* Ratakan ke kiri */
}

.execution-buttons .control-btn-add-execution,
.execution-buttons .control-btn-delete-execution {
  padding: 8px 12px; /* Padding horizontal dan vertikal */
  margin-right: 5px; /* Jarak antara tombol */
  text-align: center;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.execution-buttons .control-btn-delete-execution {
  background-color: #dc3545;
}

.execution-buttons .control-btn-add-execution:hover,
.execution-buttons .control-btn-delete-execution:hover {
  background-color: #0056b3;
}

.execution-buttons .control-btn-delete-execution:hover {
  background-color: #c82333;
}

.execution-buttons .material-icons {
  font-size: 18px; /* Ukuran ikon */
  vertical-align: middle; /* Posisi ikon di tengah tombol */
}

.form-text.text-muted {
  color: #333 !important;
}

.hidden {
  display: none;
}

.gear-button-container {
  margin-top: 20px; /* Sesuaikan dengan jarak atas yang diinginkan */
  text-align: left; /* Meratakan ke kiri */
}

.btn-gear {
  background-color: #007bff; /* Warna latar belakang contoh */
  color: white; /* Warna teks contoh */
  padding: 10px 20px; /* Padding contoh */
  border: none; /* Menghapus border default tombol */
  cursor: pointer; /* Mengubah kursor menjadi pointer saat dihover */
  border-radius: 5px; /* Sudut melengkung */
}

.btn-gear:hover {
  background-color: #0056b3; /* Warna latar belakang saat dihover */
}

.tooltipped {
  position: relative; /* Pastikan tooltip diposisikan relatif terhadap kontainernya */
}

.tooltipped::after {
  content: attr(data-tooltip); /* Set konten tooltip */
  position: absolute; /* Posisikan tooltip secara absolut */
  background-color: rgba(0, 0, 0, 0.75); /* Warna latar belakang tooltip contoh */
  color: white; /* Warna teks tooltip contoh */
  padding: 5px; /* Padding tooltip contoh */
  border-radius: 5px; /* Sudut melengkung tooltip */
  top: -30px; /* Posisikan di atas tombol */
  left: 0; /* Posisikan mulai dari kiri */
  white-space: nowrap; /* Hindari tooltip memecah menjadi beberapa baris */
  visibility: hidden; /* Sembunyikan secara default */
  opacity: 0; /* Sembunyikan secara default */
  transition: opacity 0.3s ease; /* Transisi halus untuk visibilitas */
}

.tooltipped:hover::after {
  visibility: visible; /* Tampilkan tooltip saat dihover */
  opacity: 1; /* Tampilkan tooltip saat dihover */
}

.btn-primary {
  background-color: #007bff;
  border: none; /* Menghapus border default tombol */
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background-color: #0056b3; /* Warna latar belakang saat dihover */
}

.btn-danger {
  background-color: #dc3545;
  border: none; /* Menghapus border default tombol */
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-success {
  background-color: #28a745;
  border: none; /* Menghapus border default tombol */
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-success:hover {
  background-color: #218838;
}

.btn {
  margin: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn i.material-icons {
  margin-right: 0.25rem;
}

.btn.btn-primary.btn-save {
  padding: 0.75rem 3rem;
}

.btn.btn-danger.btn-reset {
  padding: 0.75rem 3rem;
}
/* ********RIGHT ********** */
.right {
  margin-top: 1.4rem;
}
.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.right .top button {
  display: none;
}

.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    /* height: 100vh; */
  }
  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  aside .logo {
    margin-left: 1rem;
  }
  aside .logo h2 {
    display: inline;
  }
  aside .sidebar h3 {
    display: inline;
  }
  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  /* aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  } */
  aside .close {
    display: inline-block;
    cursor: pointer;
  }
  main {
    margin: 8rem 2rem 2rem 2rem;
    padding: 0 1rem;
  }
  main .histories {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main .histories .history-charts {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 90%;
    margin: 0 auto 0rem auto;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1 rem var(--color-light);
  }
  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    right: 2rem;
  }
  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
  .data-table {
    width: 100%;
  }
  .controls-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; /* menambahkan sedikit jarak antara kartu */
  }

  .card.controls {
    flex: 1 1 150px; /* ukuran minimum 200px, akan berkembang sesuai ruang yang tersedia */
    max-width: 170px; /* batas maksimum lebar */
    padding: 10px; /* menambahkan sedikit ruang dalam kartu */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* sedikit bayangan untuk penekanan */
    border-radius: 5px; /* sudut membulat */
  }

  .control-btn {
    display: block;
    width: 100%;
    margin: 5px 0; /* menambahkan sedikit jarak antara tombol */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #007bff; /* warna biru sebagai contoh */
    color: #fff;
    cursor: pointer;
  }

  .control-btn:hover {
    background-color: #0056b3; /* warna saat hover */
  }
  .control-btn:active {
    background: var(--color-primary);
  }

  .sliders-container {
    flex-direction: column;
  }

  .left-sliders,
  .right-sliders {
    width: 100%;
    min-width: unset;
  }

  .noUi-handle-lower {
    background-color: red;
  }

  .noUi-handle-upper {
    background-color: green;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    /* height: 100vh; */
  }
  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  aside .logo {
    margin-left: 1rem;
  }
  aside .logo h2 {
    display: inline;
  }
  aside .sidebar h3 {
    display: inline;
  }
  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  /* aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  } */
  aside .close {
    display: inline-block;
    cursor: pointer;
  }
  main {
    margin: 8rem 2rem 2rem 2rem;
    padding: 0 1rem;
  }
  main .histories {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main .histories .history-charts {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 90%;
    margin: 0 auto 0rem auto;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1 rem var(--color-light);
  }
  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    right: 2rem;
  }
  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
  .data-table {
    width: 100%;
  }

  .controls-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; /* menambahkan sedikit jarak antara kartu */
  }

  .card.controls {
    flex: 1 1 200px; /* ukuran minimum 200px, akan berkembang sesuai ruang yang tersedia */
    max-width: 300px; /* batas maksimum lebar */
    padding: 10px; /* menambahkan sedikit ruang dalam kartu */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* sedikit bayangan untuk penekanan */
    border-radius: 5px; /* sudut membulat */
  }

  .control-btn {
    display: block;
    width: 100%;
    margin: 5px 0; /* menambahkan sedikit jarak antara tombol */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #007bff; /* warna biru sebagai contoh */
    color: #fff;
    cursor: pointer;
  }

  .control-btn:hover {
    background-color: #0056b3; /* warna saat hover */
  }

  .control-btn:active {
    background: var(--color-primary);
  }

  .sliders-container {
    flex-direction: column;
  }

  .left-sliders,
  .right-sliders {
    width: 100%;
    min-width: unset;
  }

  .noUi-handle-lower {
    background-color: red;
  }

  .noUi-handle-upper {
    background-color: green;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    /* height: 100vh; */
  }
  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  aside .logo {
    margin-left: 1rem;
  }
  aside .logo h2 {
    display: inline;
  }
  aside .sidebar h3 {
    display: inline;
  }
  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  /* aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  } */
  aside .close {
    display: inline-block;
    cursor: pointer;
  }
  main {
    margin: 8rem 2rem 2rem 2rem;
    padding: 0 1rem;
  }
  main .histories {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main .histories .history-charts {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 90%;
    margin: 0 auto 0rem auto;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1 rem var(--color-light);
  }
  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    right: 2rem;
  }
  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
  .data-table {
    width: 100%;
  }
  .controls-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; /* menambahkan sedikit jarak antara kartu */
  }

  .card.controls {
    flex: 1 1 200px; /* ukuran minimum 200px, akan berkembang sesuai ruang yang tersedia */
    max-width: 300px; /* batas maksimum lebar */
    padding: 10px; /* menambahkan sedikit ruang dalam kartu */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* sedikit bayangan untuk penekanan */
    border-radius: 5px; /* sudut membulat */
  }

  .control-btn {
    display: block;
    width: 100%;
    margin: 5px 0; /* menambahkan sedikit jarak antara tombol */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #007bff; /* warna biru sebagai contoh */
    color: #fff;
    cursor: pointer;
  }

  .control-btn:hover {
    background-color: #0056b3; /* warna saat hover */
  }
  .control-btn:active {
    background: var(--color-primary);
  }

  .sliders-container {
    flex-direction: column;
  }

  .left-sliders,
  .right-sliders {
    width: 100%;
    min-width: unset;
  }

  .noUi-handle-lower {
    background-color: red;
  }

  .noUi-handle-upper {
    background-color: green;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 1rem 0 1rem 0;
  }
  main {
    margin: 5rem 1rem 1rem 1rem;
    padding: 0 1rem;
    width: 90vw;
  }

  main .insights {
    gap: 0.4rem;
  }
  main .insights > div {
    padding: 0.4rem;
  }

  main .history-charts {
    display: grid;
    grid-template-columns: 1fr;
  }
  .data-table {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .controls-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; /* menambahkan sedikit jarak antara kartu */
  }

  .card.controls {
    flex: 1 1 200px; /* ukuran minimum 200px, akan berkembang sesuai ruang yang tersedia */
    max-width: 300px; /* batas maksimum lebar */
    padding: 10px; /* menambahkan sedikit ruang dalam kartu */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* sedikit bayangan untuk penekanan */
    border-radius: 5px; /* sudut membulat */
  }

  .control-btn {
    display: block;
    width: 100%;
    margin: 5px 0; /* menambahkan sedikit jarak antara tombol */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #007bff; /* warna biru sebagai contoh */
    color: #fff;
    cursor: pointer;
  }

  .control-btn:hover {
    background-color: #0056b3; /* warna saat hover */
  }
  .control-btn:active {
    background: var(--color-primary);
  }
}
