<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=dashboardTitle%></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" rel="stylesheet" />
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="images/logo.png" alt="" />
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="/dashboard" class="active">
            <span class="material-symbols-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="/pintu1" class="active">
            <span class="material-symbols-sharp"> door_open </span>
            <h3>Inlet Gate</h3>
          </a>
          <a href="/pintu2" class="active">
            <span class="material-symbols-sharp"> door_open </span>
            <h3>Outlet Gate</h3>
          </a>
          <a href="/logout" class="active">
            <span class="material-symbols-sharp"> logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <main>
        <h1><%=name%></h1>
        <h2><%=dashboardTitle%></h2>
        <h2>Status Ketinggian Air Outlet Gate: <span style="color: rgb(99, 209, 35)">Aman</span></h2>
        <h2>Status Outlet Gate: <span style="color: rgb(99, 209, 35)">Opened</span></h2>
        <h2>Connection Status: <span id="connection-status">Checking connection...</span></h2>
        <div class="insights">
          <div class="pintu2">
            <div class="middle">
              <div class="left">
                <h2>Outlet Gate</h2>
                <h3>Ketinggian Air</h3>
                <h1 id="pintu2"></h1>
              </div>
              <div class="icon">
                <span class="material-symbols-sharp"> height </span>
              </div>
            </div>
          </div>

          <div class="controls">
            <P style="font-size: 16px; margin-top: 4px"><b>Kontrol Outlet Gate</b></P>
            <button id="pintu2-up" class="control-btn">Open</button>
            <button id="pintu2-down" class="control-btn">Close</button>
          </div>
        </div>
        <!-- End of Insights -->
        <div class="histories">
          <div class="history-charts-pintu1">
            <h2>Historical Charts</h2>
            <!-- <div id="pintu1-history" class="history-divs"></div> -->
            <div id="pintu2-history" class="history-divs"></div>
          </div>
        </div>

        <div class="data-table">
          <h2>Data Table</h2>
          <table id="dataTable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Value</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <!-- Data rows will be inserted here -->
            </tbody>
          </table>
          <div class="pagination">
            <button id="prevPage">Previous</button>
            <span id="pageDisplay">1</span>
            <button id="nextPage">Next</button>
          </div>
        </div>
      </main>
      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-symbols-sharp"> menu </span>
          </button>
          <div class="theme-toggler" style="display: none">
            <span class="material-symbols-sharp active"> light_mode </span>
            <span class="material-symbols-sharp"> dark_mode </span>
          </div>
        </div>
        <!-- End of top -->
      </div>
    </div>
    <script type="module" src="./index2.js"></script>
    <!-- <script type="module" src="./mqttService.js"></script> -->
  </body>
</html>
