<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=dashboardTitle%></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body data-device-id="<%= config.DEVICE_ID_1 %>">
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="images/logo.png" alt="" />
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="/dashboard" class="active">
            <span class="material-symbols-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="/pintu1" class="active">
            <span class="material-symbols-sharp"> door_open </span>
            <h3>Inlet Gate</h3>
          </a>
          <a href="/pintu2" class="active">
            <span class="material-symbols-sharp"> door_open </span>
            <h3>Outlet Gate</h3>
          </a>
          <a href="/logout" class="active">
            <span class="material-symbols-sharp"> logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <main>
        <h1><%=name%></h1>
        <h2><%=dashboardTitle%></h2>
        <h2>Connection Status Mandalika 2 : <span id="connection-status2">Checking connection...</span></h2>
        <h2>Status Outlet Water Level: <span id="status-outlet">Checking Status...</span></h2>
        <h2>Status Outlet Gate: <span id="gate-status2"></span></h2>

        <div class="insights">
          <div class="pintu2">
            <div class="middle">
              <div class="left">
                <h3>Level Air</h3>
                <h1 id="pintu2"></h1>
              </div>
              <div class="icon">
                <span class="material-symbols-sharp"> height </span>
              </div>
            </div>
          </div>

          <div class="card controls">
            <h2>Open/Close Gate</h2>
            <button id="pintu2-up" class="control-btn">Open</button>
            <button id="pintu2-down" class="control-btn">Close</button>
          </div>

          <div class="card controls">
            <h2>Start/Stop Relay</h2>
            <button id="relay-on" class="control-btn">Start</button>
            <button id="relay-off" class="control-btn">Stop</button>
          </div>
        </div>

        <div class="histories">
          <div class="history-charts-pintu2">
            <h2>Historical Charts</h2>
            <div id="pintu2-history" class="history-divs"></div>
          </div>
        </div>

        <div class="controls-container-setpoint">
          <div class="card controls-setpoint">
            <h2>Form Pengaturan</h2>

            <!-- Interval dan Batas Waktu Akhir -->
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="startInterval">Interval Waktu Mulai (startInterval)</label>
                  <input type="number" id="startInterval" class="form-control" required />
                  <small class="form-text text-muted">Atur berapa waktu mulai proses pengecekan</small>
                </div>
                <div class="col">
                  <label for="windowDuration">Batas Waktu Akhir (windowDuration)</label>
                  <input type="number" id="end-time" class="form-control" required />
                  <small class="form-text text-muted">Atur berapa lama proses pengecekan</small>
                </div>
                <div class="col">
                  <label for="timeUnit">Satuan Waktu</label>
                  <select id="timeUnit" class="form-control" required>
                    <option value="" disabled selected>PILIH SATUAN WAKTU</option>
                    <option value="MINUTES">MENIT</option>
                    <option value="SECONDS">DETIK</option>
                  </select>
                  <small class="form-text text-muted">Atur untuk time unit yang ingin digunakan</small>
                </div>
              </div>
            </div>

            <!-- Garis Pembatas -->
            <hr />

            <div id="status-parameters">
              <!-- Status Parameter Template -->
              <div class="status-parameter" data-index="1">
                <!-- Nama Status Parameter -->
                <div class="form-group">
                  <label for="status-name-1">Nama Status Parameter 1</label>
                  <input type="text" id="status-name-1" class="form-control" required />
                  <small class="form-text text-muted">Untuk mengatur nama dari Status yang nanti ditampilkan, contoh : Aman/Siaga 1/Siaga 2/Bahaya</small>
                </div>

                <div class="form-group">
                  <label for="range-start-1">Jarak Setpoint</label>
                  <div class="row">
                    <div class="col">
                      <input type="number" id="range-start-1" class="form-control" required />
                    </div>
                    <div class="col text-center">
                      <strong>-</strong>
                    </div>
                    <div class="col">
                      <input type="number" id="range-end-1" class="form-control" required />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="eval-priority-1">Prioritas Pengevaluasi</label>
                  <input type="number" id="eval-priority-1" class="form-control" required />
                  <small class="form-text text-muted">Untuk mengatur nomor prioritas pengevaluasian rule, SEMAKIN BESAR ANGKANYA MAKA AKAN DIEKSEKUSI TERLEBIH DAHULU RULE-NYA</small>
                </div>

                <!-- bagian dari pintu1.ejs -->
                <div class="form-group">
                  <label for="execution-command-1">Perintah Pengeksekusian</label>
                  <div class="execution-parameters">
                    <div class="execution-parameter-wrapper" data-index="1">
                      <div class="execution-parameter" data-index="1">
                        <select id="execution-command-1-1" class="form-control" required>
                          <option value="" disabled selected>PILIH PERINTAH</option>
                          <option value="OPEN">BUKA</option>
                          <option value="CLOSE">TUTUP</option>
                          <option value="START">MULAI</option>
                          <option value="STOP">BERHENTI</option>
                        </select>
                        <small class="form-text text-muted">Untuk mengatur perintah pengeksekusian dari status yang akan dibuat</small>
                      </div>
                      <div class="execution-priority" data-index="1">
                        <label for="execution-priority-1-1">Prioritas Pengeksekusian</label>
                        <input type="number" id="execution-priority-1-1" class="form-control" required />
                        <small class="form-text text-muted">Untuk mengatur nomor prioritas pengeksekusian perintah, SEMAKIN BESAR ANGKANYA MAKA AKAN DIEKSEKUSI TERLEBIH DAHULU PERINTAHNYA</small>
                      </div>
                    </div>
                    <div class="execution-buttons">
                      <button class="control-btn-add-execution" title="Tambah Perintah Pengeksekusian">Tambah Pengeksekusi</button>
                      <button class="control-btn-delete-execution" title="Hapus Perintah Pengeksekusian">Kurangi Pengeksekusi</button>
                    </div>
                  </div>
                </div>

                <!-- Tombol Hapus Status -->
                <button class="control-btn-delete-status">Hapus Rule</button>
              </div>
            </div>

            <button id="add-status" class="control-btn-add-status">Tambah Rule</button>
            <hr />

            <!-- Tombol Aksi -->
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <button id="Set-Point-Accept" class="control-btn-setpoint">Kirim Setpoint</button>
                </div>
                <div class="col">
                  <button id="Set-Point-Update" class="control-btn-setpoint-update">Update Setpoint</button>
                </div>
                <div class="col">
                  <button id="Set-Point-Delete" class="control-btn-setpoint-delete">Reset Setpoint</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Insights -->

        <div class="data-table">
          <h2>Data Tabel</h2>
          <table id="dataTable">
            <thead>
              <tr>
                <th>Nomor</th>
                <th>Nama</th>
                <th>Nilai</th>
                <th>Tanggal</th>
              </tr>
            </thead>
            <tbody>
              <!-- Data rows will be inserted here -->
            </tbody>
          </table>
          <div class="pagination">
            <button id="prevPage">Sebelumnya</button>
            <span id="pageDisplay">1</span>
            <button id="nextPage">Sesudahnya</button>
          </div>
        </div>
      </main>
      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-symbols-sharp"> menu </span>
          </button>
          <div class="theme-toggler" style="display: none">
            <span class="material-symbols-sharp active"> light_mode </span>
            <span class="material-symbols-sharp"> dark_mode </span>
          </div>
        </div>
        <!-- End of top -->
      </div>
    </div>
    <script type="module" src="./page3.js"></script>
    <script></script>
  </body>
</html>
