<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' https://vercel.live; img-src 'self' data:;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=dashboardTitle%></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" rel="stylesheet" />
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body data-device-id="<%= config.DEVICE_ID_1 %>">
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="images/logo.png" alt="" />
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="/dashboard" class="active">
            <span class="material-symbols-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="/pintu1" class="active">
            <span class="material-symbols-sharp"> door_open </span>
            <h3>Inlet Gate</h3>
          </a>
          <a href="/pintu2" class="active">
            <span class="material-symbols-sharp"> door_open </span>
            <h3>Outlet Gate</h3>
          </a>
          <a href="/logout" class="active">
            <span class="material-symbols-sharp"> logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <main>
        <h1><%=name%></h1>
        <h2><%=dashboardTitle%></h2>
        <h2>Connection Status Mandalika 2 : <span id="connection-status2">Checking connection...</span></h2>
        <h2>Status Outlet Water Level: <span id="status-outlet">Checking Status...</span></h2>
        <h2>Status Outlet Gate: <span id="gate-status2"></span></h2>
        <div class="insights">
          <div class="pintu2">
            <div class="middle">
              <div class="left">
                <h3>Level Air</h3>
                <h1 id="pintu2"></h1>
              </div>
              <div class="icon">
                <span class="material-symbols-sharp"> height </span>
              </div>
            </div>
          </div>
        </div>

        <h2 style="margin-top: 10px">Pengaturan Setpoint</h2>
        <!-- Set Point Control -->
        <div class="controls-container">
          <div class="card controls">
            <h2>Atur Untuk Setpoint Aman</h2>
            <input type="range" id="Set-Point-Aman" min="0" max="10" step="1" value="0" />
            <p>Value: <span id="Set-Point-Aman-value"></span></p>
            <h2>Atur Untuk Setpoint Siaga 1</h2>
            <input type="range" id="Set-Point-Siaga-1" min="0" max="10" step="1" value="0" />
            <p>Value: <span id="Set-Point-Siaga-1-value"></span></p>
            <h2>Atur Untuk Setpoint Siaga 2</h2>
            <input type="range" id="Set-Point-Siaga-2" min="0" max="10" step="1" value="0" />
            <p>Value: <span id="Set-Point-Siaga-2-value"></span></p>
            <h2>Atur Untuk Setpoint Bahaya</h2>
            <input type="range" id="Set-Point-Bahaya" min="0" max="10" step="1" value="0" />
            <p>Value: <span id="Set-Point-Bahaya-value"></span></p>
            <h2>Atur Untuk Batas Maximal</h2>
            <input type="range" id="Set-Point-Maximal" min="1" max="10" step="1" value="0" />
            <p>Value: <span id="Set-Point-Maximal-value"></span></p>
            <h2>Atur Untuk Batas Minimal</h2>
            <input type="range" id="Set-Point-Minimal" min="1" max="10" step="1" value="0" />
            <p>Value: <span id="Set-Point-Minimal-value"></span></p>
            <button id="Set-Point-Accept" class="control-btn">Accept</button>
          </div>
        </div>

        <h2 style="margin-top: 10px">Kontrol Gate Pintu</h2>
        <!-- Control Cards -->
        <div class="controls-container">
          <div class="card controls">
            <h2>Kontrol Outlet Gate</h2>
            <button id="pintu2-up" class="control-btn">Open</button>
            <button id="pintu2-down" class="control-btn">Close</button>
          </div>

          <div class="card controls">
            <h2>Kontrol Start/Stop Relay</h2>
            <button id="relay-on" class="control-btn">Start</button>
            <button id="relay-off" class="control-btn">Stop</button>
          </div>
        </div>

        <!-- End of Insights -->
        <div class="histories">
          <div class="history-charts-pintu1">
            <h2>Data Grafik</h2>
            <!-- <div id="pintu1-history" class="history-divs"></div> -->
            <div id="pintu2-history" class="history-divs"></div>
          </div>
        </div>

        <div class="data-table">
          <h2>Data Tabel</h2>
          <table id="dataTable">
            <thead>
              <tr>
                <th>Nomor</th>
                <th>Nama</th>
                <th>Nilai</th>
                <th>Tanggal</th>
              </tr>
            </thead>
            <tbody>
              <!-- Data rows will be inserted here -->
            </tbody>
          </table>
          <div class="pagination">
            <button id="prevPage">Sebelumnya</button>
            <span id="pageDisplay">1</span>
            <button id="nextPage">Sesudahnya</button>
          </div>
        </div>
      </main>
      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-symbols-sharp"> menu </span>
          </button>
          <div class="theme-toggler" style="display: none">
            <span class="material-symbols-sharp active"> light_mode </span>
            <span class="material-symbols-sharp"> dark_mode </span>
          </div>
        </div>
        <!-- End of top -->
      </div>
    </div>
    <script type="module" src="./index2.js"></script>
    <!-- <script type="module" src="./mqttService.js"></script> -->
    <script>
      function updateSliderBackground(slider) {
        const value = ((slider.value - slider.min) / (slider.max - slider.min)) * 100;
        slider.style.background = `linear-gradient(to right, #4caf50 0%, #4caf50 ${value}%, #ddd ${value}%, #ddd 100%)`;
      }

      document.querySelectorAll('input[type="range"]').forEach((slider) => {
        slider.addEventListener('input', function () {
          document.getElementById(`${this.id}-value`).textContent = this.value;
          updateSliderBackground(this);
        });
        // Initialize the slider background on page load
        updateSliderBackground(slider);
      });
    </script>
  </body>
</html>
