<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=dashboardTitle%></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" rel="stylesheet" />
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body data-device-id="<%= config.DEVICE_ID_1 %>">
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="images/logo.png" alt="" />
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="/dashboard" class="active">
            <span class="material-symbols-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="/pintu1" class="active">
            <span class="material-symbols-sharp"> door_open </span>
            <h3>Inlet Gate</h3>
          </a>
          <a href="/pintu2" class="active">
            <span class="material-symbols-sharp"> door_open </span>
            <h3>Outlet Gate</h3>
          </a>
          <a href="/logout" class="active">
            <span class="material-symbols-sharp"> logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <main>
        <h1><%=name%></h1>
        <h2><%=dashboardTitle%></h2>
        <h2>Connection Status Mandalika 1 : <span id="connection-status1">Checking connection...</span></h2>
        <h2>Status Inlet Water Level: <span id="status-inlet">Checking Status...</span></h2>
        <h2>Status inlet Gate: <span id="gate-status"></span></h2>

        <div class="insights">
          <div class="pintu1">
            <div class="middle">
              <div class="left">
                <h3>Level Air</h3>
                <h1 id="pintu1"></h1>
              </div>
              <div class="icon">
                <span class="material-symbols-sharp"> height </span>
              </div>
            </div>
          </div>

          <div class="card controls">
            <h2>Open/Close Gate</h2>
            <button id="pintu1-up" class="control-btn">Open</button>
            <button id="pintu1-down" class="control-btn">Close</button>
          </div>

          <div class="card controls">
            <h2>Start/Stop Relay</h2>
            <button id="relay-on" class="control-btn">Start</button>
            <button id="relay-off" class="control-btn">Stop</button>
          </div>

          <!-- <div class="controls-container">
            <div class="card controls">
              <h2>Kontrol Outlet Gate</h2>
              <button id="pintu1-up" class="control-btn">Open</button>
              <button id="pintu1-down" class="control-btn">Close</button>
            </div>

            <div class="card controls">
              <h2>Kontrol Start/Stop Relay</h2>
              <button id="relay-on" class="control-btn">Start</button>
              <button id="relay-off" class="control-btn">Stop</button>
            </div>
          </div> -->
        </div>

        <div class="histories">
          <div class="history-charts-pintu1">
            <h2>Historical Charts</h2>
            <div id="pintu1-history" class="history-divs"></div>
            <!-- <div id="pintu2-history" class="history-divs" style="display: none"></div> -->
          </div>
        </div>

        <div class="controls-container-setpoint">
          <div class="card controls-setpoint">
            <h2>Atur Setpoint</h2>
            <div class="sliders-container">
              <div class="left-sliders">
                <h2 style="margin-top: 10px">Setpoint Aman</h2>
                <div style="margin-top: 35px" id="Set-Point-Aman" class="slider"></div>
                <p style="margin-top: 10px; font-size: larger">Value: <span id="Set-Point-Aman-value"></span></p>

                <h2 style="margin-top: 10px">Setpoint Siaga 1</h2>
                <div style="margin-top: 35px" id="Set-Point-Siaga-1" class="slider"></div>
                <p style="margin-top: 10px; font-size: larger">Value: <span id="Set-Point-Siaga-1-value"></span></p>

                <h2 style="margin-top: 10px">Setpoint Siaga 2</h2>
                <div style="margin-top: 35px" id="Set-Point-Siaga-2" class="slider"></div>
                <p style="margin-top: 10px; font-size: larger">Value: <span id="Set-Point-Siaga-2-value"></span></p>
              </div>
              <div class="right-sliders">
                <h2 style="margin-top: 10px">Setpoint Bahaya</h2>
                <div style="margin-top: 35px" id="Set-Point-Bahaya" class="slider"></div>
                <p style="margin-top: 10px; font-size: larger">Value: <span id="Set-Point-Bahaya-value"></span></p>

                <h2 style="margin-top: 10px">Batas Maximal</h2>
                <div style="margin-top: 35px" id="Set-Point-Maximal" class="slider"></div>
                <p style="margin-top: 10px; font-size: larger">Value: <span id="Set-Point-Maximal-value"></span></p>

                <h2 style="margin-top: 10px">Batas Minimal</h2>
                <div style="margin-top: 35px" id="Set-Point-Minimal" class="slider"></div>
                <p style="margin-top: 10px; font-size: larger">Value: <span id="Set-Point-Minimal-value"></span></p>
              </div>
            </div>
            <h2 style="margin-top: 10px">Batas Antara Minimal & Maximal</h2>
            <div style="margin-top: 35px" id="Set-Point-Mid" class="slider"></div>
            <p style="margin-top: 10px; font-size: larger">Value: <span id="Set-Point-Mid-value"></span></p>
            <button id="Set-Point-Accept" class="control-btn-setpoint">Kirim Setpoint</button>
            <button id="Set-Point-Update" class="control-btn-setpoint-update">Update Setpoint</button>
            <button id="Set-Point-Delete" class="control-btn-setpoint-delete">Reset Setpoint</button>
          </div>
        </div>
        <!-- End of Insights -->

        <div class="data-table">
          <h2>Data Table</h2>
          <table id="dataTable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Value</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <!-- Data rows will be inserted here -->
            </tbody>
          </table>
          <div class="pagination">
            <button id="prevPage">Previous</button>
            <span id="pageDisplay">1</span>
            <button id="nextPage">Next</button>
          </div>
        </div>
      </main>
      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-symbols-sharp"> menu </span>
          </button>
          <div class="theme-toggler" style="display: none">
            <span class="material-symbols-sharp active"> light_mode </span>
            <span class="material-symbols-sharp"> dark_mode </span>
          </div>
        </div>
        <!-- End of top -->
      </div>
    </div>
    <script type="module" src="./page2.js"></script>
  </body>
</html>
